@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* styles.css or a CSS module */
.glow {
    box-shadow: 0 0 10px rgba(0, 153, 255, 0.7), 0 0 20px rgba(0, 153, 255, 0.6);
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 20px rgba(0, 153, 255, 0.9), 0 0 30px rgba(0, 153, 255, 0.8);
    }
    50% {
      box-shadow: 0 0 30px rgba(0, 153, 255, 0.7), 0 0 50px rgba(0, 153, 255, 0.6);
    }
    100% {
      box-shadow: 0 0 20px rgba(0, 153, 255, 0.9), 0 0 30px rgba(0, 153, 255, 0.8);
    }
  }
  